# Heart Disease Analysis

dataset:

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", 200)

/var/folders/zq/w23_9w1566v1l3_pd2z91dbc0000gn/T/ipykernel_20419/3711532654.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Load the dataset

In [2]:
df = pd.read_csv("data/heart.csv")

# Understanding Data

In [26]:
df.info
df.shape
df.dtypes
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### I now know what the data should look like in VS code and the types of data I'm working with

#### column interpretation: age, sex, chest pain type, resting blood pressure, cholesterol, fasting blood sugar, resting electrocardiographic results, maximum heart rate achieved, exercise induced angina, ST depression induced by exercise relative to rest, the slope of the peak exercise ST segment, number of major vessels (0-3) colored by flourosopy, disease or not

## Counting NA

In [30]:
df.isna().sum()
df["ca"].value_counts()
df["thal"].value_counts()
df["cp"].value_counts()
df["target"].value_counts()
df["exang"].value_counts()
df["restecg"].value_counts()
df = df[df["ca"] < 4] #drop nonexistant ca values
df = df[df["thal"] > 0] # drop nonexistant thal values
df.shape

(296, 14)

Ultimately, I removed 7 rows which contained values outside of the ranges for real input